<header>

  <h1>Mar<span>i</span>ne L<span>i</span>fe</h1>

</header>


<main class="main-wrapper" id="container" style="height: 500px">
  <div class="wrapper">
    <form action="/create" method="post" enctype="multipart/form-data">
      <div class="">
        <label>title</label>
        <input type="text" class="form-control" name="title">
      </div>

      <div>
       <label>caption</label>
       <textarea class="form-control" name="description"></textarea>
      </div>

      <div class="view_box">
        <label>picture</label>
        <input type="file" class="file" name="file">
      </div>


      <div>
        <button type="submit" class="btn btn-success btn">POST</button>
      </div>



    </form>
  </div>
</main>


<p class="open">ボタン</p>
<div id="slideBox">
  スライドパネルのサンプルです。ボタンを押すと閉じたり、開いたりします。 スライドパネルのサンプルです。ボタンを押すと閉じたり、開いたりします。スライドパネルのサンプルです。ボタンを押すと閉じたり、開いたりします。スライドパネルのサンプルです。ボタンを押すと閉じたり、開いたりします。
</div>



<footer>

</footer>

